@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


html{
    background-image: linear-gradient(to right top, #005b95, #0068a0, #0076aa, #0083b4, #0091bd, #0091bd, #0091bd, #0091bd, #0083b4, #0076aa, #0068a0, #005b95);
    background-size:cover;
    background-repeat:no-repeat;
    min-height: 100vh;
    max-height: max-content;
}

.heading-container{
    border: 2rem sloid red;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.heading{
    text-align: center;
    align-self: center;
    color: #ECFCFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-size: 2.5rem;
}

.container{
    /* margin-top: 10rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    row-gap: 3rem;
    margin-inline: 1rem;
    /* margin-inline: 80px; */
}

.btn{
    /* background-color: pink; */
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-size: 1.7rem;
    padding-inline: 0.8em;
    padding-block: 0.8em;

}


  .banner{
    background-color: #FFFAFA;
    min-height: 100vh;
    max-height: fit-content;
    width: 70%;
    margin-inline: auto;
    box-shadow: 12px 10px 26px 0px rgba(0,0,0,0.48);
    padding: 1rem;
    margin-block: 0.5rem;
}  

a{
  color: red; 
}
a:visited {
  opacity: 50%;
}
a:hover {
  color: yellow; 
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #3D2B1F;
  background-color: transparent;
  text-decoration: underline;
}

.mainHeading{
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
text-fill-color: transparent;
background-size: 500% auto;
animation: textShine 5s ease-in-out infinite alternate;   
text-align: center;
font-size: 2.5rem;
font-weight: 600;
border-bottom: 2px solid rgba(0, 0, 0, .1);
/* border-top: 2px solid rgba(0, 0, 0, .1); */
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.paragraph{
  line-height: 1.5;
  /* margin-bottom: 1em; */
  margin-top: 0.8em;
  font-size: 1.1em;
}

.sideHeading{
  font-size: 1.25rem;
  border-bottom: 2px solid rgba(0, 0, 0, .03);
  display: inline-block;
  font-weight: 500;
}

.example{
  margin-inline: 2em;
  margin-top: 2em;
}