.banner{
    background-color: #FFFAFA;
    min-height: 100vh;
    max-height: fit-content;
    width: 70%;
    margin-inline: auto;
    box-shadow: 12px 10px 26px 0px rgba(0,0,0,0.48);
    padding: 1rem;
    margin-block: 0.5rem;
}

.yo{
    z-index: 10;
}